<div class="container">
  <div class="container-form">
    <h2>Booking ID : <%= @booking.id %></h2>
    <p><%= @booking.number_of_days %> days</p>
    <p><%= @booking.total_price %> €</p>
    <p><%= @booking.status %></p>
    <% if @booking.player.user == current_user  %>
      <% if @booking.status == "Pending" %>
        <%= simple_form_for(@booking, url: update_new_booking_path(@booking)) do |f| %>
        <%= f.input :status, collection: ["Accepted", "Declined"],  input_html: { class: "select2" } %>
        <%= f.submit "Confirm", class: "btn-yellow-sm btn-margin-top" %>
        <% end %>
    <% end %>
    <% end %>
  </div>
</div>
