<div class="container">
  <div class="row">
    <div class="tabs">
      <a class="tab active" href="" id="players-trigger">
        <h3>My players</h3>
      </a>
      <a class="tab" href="" id="bookings-trigger">
        <h3>Bookings</h3>
      </a>
    </div>
    <div id="players">
      <% @players.each do |player| %>
        <div class="message" data-player-id="<%= player.id %>">
          <%= image_tag "#{player.photo}", style:'height:50px;width:50px;border-radius:50%;' %>
          <div class="message-name">
            <h3><%= player.name %></h3>
            <p><%= player.level %></p>
          </div>
          <div class="message-body">
            <p><strong>Description</strong></p>
            <p><%= player.description %></p>
          </div>
          <div class="message-status">
            <%=  link_to edit_player_path(player), class: "btn-option" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <% if (@all_bookings.select{|booking| booking.player_id == player.id}.blank?) %>
              <%=  link_to player_path(player), class: "btn-option", method: :delete, remote: true do %>
                <i class="fas fa-trash-alt"></i>
              <% end  %>
            <% else %>
                <i class="fas fa-trash-alt hidd btn-option"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="bookings" class="hidden">
      <% if @bookings_as_owner.present? %>
        <h4>My players bookings</h4>
        <% @all_bookings.each do |booking| %>
          <% if booking.player.user == current_user %>
            <div class="message">
              <%= image_tag "#{booking.player.photo}", style:'height:50px;width:50px;border-radius:50%;' %>
              <div class="message-name">
                <h3><%= booking.player.name %></h3>
                <p><%= booking.player.level %></p>
              </div>
              <div class="message-body">
                <p><strong>Daily Price</strong></p>
                <p><%= number_with_delimiter(booking.player.price_per_day, :delimiter => ',') %> €</p>
              </div>
              <div class="message-body">
                <p><strong>Total Price</strong></p>
                <p><%= number_with_delimiter(booking.total_price, :delimiter => ',')%> €</p>
              </div>
              <div class="message-body">
                <p><strong>Status</strong></p>
                <% if booking.status == "Accepted" %>
                  <p class="status accepted"><%= booking.status %></p>
                <% elsif booking.status == "Declined" %>
                  <p class="status declined"><%= booking.status %></p>
                <% else %>
                  <p class="status pending"><%= booking.status %></p>
                <% end %>
              </div>
              <div class="message-body">
                <p><strong>Email</strong></p>
                <%= link_to booking_messages_path(booking), class: "btn-option message-body-counter", method: :get do %>
                  <% if booking.messages.count > 0 %>
                    <div class="inbox-counter">
                      <p><%= booking.messages.count %></p>
                    </div>
                  <% end %>
                  <i class="fas fa-envelope"></i>
                <% end %>
              </div>
              <% if booking.status == 'pending' %>
              <div class="message-body">
                <p><strong>Action</strong></p>
                <p><%= link_to 'Accept', accept_new_booking_path(booking), method: :patch %> <%= link_to 'Decline', decline_new_booking_path(booking), method: :put %></p>
              </div>

              <% end %>
            </div>

          <% end %>
        <% end %>
      <% end %>
      <% if @bookings_as_renter.present? %>
      <h4>My bookings</h4>
      <% @bookings.each do |booking| %>
          <div class="message">
            <%= image_tag "#{booking.player.photo}", style:'height:50px;width:50px;border-radius:50%;' %>
            <div class="message-name">
              <h3><%= booking.player.name %></h3>
              <p><%= booking.player.level %></p>
            </div>
            <div class="message-body">
              <p><strong>Daily Price</strong></p>
              <p><%= number_with_delimiter(booking.player.price_per_day, :delimiter => ',') %> €</p>
            </div>
            <div class="message-body">
              <p><strong>Total Price</strong></p>
              <p><%= number_with_delimiter(booking.total_price, :delimiter => ',') %> €</p>
            </div>
            <div class="message-body">
              <p><strong>Status</strong></p>
                <% if booking.status == "Accepted" %>
                  <p class="status accepted"><%= booking.status %></p>
                <% elsif booking.status == "Declined" %>
                  <p class="status declined"><%= booking.status %></p>
                <% else %>
                  <p class="status pending"><%= booking.status %></p>
                <% end %>
            </div>
            <div class="message-body">
              <p><strong>Email</strong></p>
              <%= link_to booking_messages_path(booking), class: "btn-option message-body-counter", method: :get do %>
                <% if booking.messages.count > 0 %>
                  <div class="inbox-counter">
                    <p><%= booking.messages.count %></p>
                  </div>
                <% end %>
                <i class="fas fa-envelope"></i>
              <% end %>
            </div>
          </div>
      <% end %>
    <% end %>

    </div>

  </div>
</div>

