<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,90,146,0.3) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "banner-home.jpg" %>);">
  <div class="banner-content">
    <h1>Rent footbal players from top clubs</h1>
    <p>Find stars ... and goats</p>
    <%= form_tag players_path, method: :get, class: "form-inline form-home" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control input-home",
        placeholder: "Find a goat"
      %>
      <%= button_tag "Goat Search", class: "btn-yellow" %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @players.each do |player|  %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path player.photo %>);">
        <%= link_to player_path(player) do %>
        <div class="card-body">
          <div class="card-category"><%= player.level %></div>
          <div class="card-description">
            <h2><%= player.name %></h2>
            <p><%= player.position %></p>
          </div>
        </div>
        <div class="card-footer">
          <% array = [] %>
          <% player.reviews.each do |review|  %>
            <% array << review.rating %>
          <% end %>
          <% total = array.sum / player.reviews.count.to_f %>

          <% count = 0 %>
          <% 5.times do %>
            <% if total > count %>
              <i class="fas fa-star"></i>
            <% else %>
              <i class="far fa-star"></i>
            <% end %>
            <% count += 1 %>
          <% end %>
          (<%= player.reviews.count %>)

          <p><%= number_with_delimiter(player.price_per_day, :delimiter => ',') %> € per day</p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
