<ul>
  <li><strong><%= player.name %></strong></li>
  <li><%= player.position %></li>
  <li><%= player.level %></li>
  <li><%= player.price_per_day %> € per day</li>
  <li><%= link_to "Details", player_path(player)%></li>
</ul>


