<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url('<%= cl_image_path @player.photo %>');">
  <div class="banner-content">
    <h1><%= @player.name %></h1>
    <h2><%= @player.level %></h2>
  </div>
</div>
<div class="container">
 <div class="row" >
   <div class="col-md-8">
     <div class="player-show-card">
        <p><%= @player.city %></p>
       <h3>Description</h3>
       <p><%= @player.description %></p>
     </div>
   </div>
   <% if @player.user != current_user %>
     <div class="col-md-4">
       <div class="player-show-card">
        <h4><%= @player.price_per_day %>€ per day</h4>
        <%= simple_form_for [@player, @booking] do |f| %>
          <div class="form-wrapper" style="margin: 0 auto;">
              <%= f.input :pick_your_date, as: :string, required: false, input_html: {id: "range_start"} %>
              <%= f.submit "Book", class: "btn-yellow" %>
          </div>
         <% end %>
       </div>
     </div>
     <% end %>
 </div>
</div>

