<h1>Players detail</h1>

<ul>
  <li><%= @player.name %></li>
  <li><%= @player.description %></li>
  <li><%= @player.price_per_day %></li>
  <li><%= @player.level %></li>
  <li><%= @player.position %></li>
  <!-- <li><%= @player.latitude %></li>
  <li><%= @player.longitude %></li> -->
  <li><%= cl_image_tag @player.photo, height: 300, width: 400, crop: :fill %></li>
</ul>

<% if policy(@player).edit? %>
    <%= link_to "Update", edit_player_path(@player) %>
<% end %>
<% if policy(@player).destroy? %>
    <%= link_to "Delete", player_path(@player), method: :delete %>
<% end %>
