<%= simple_form_for([player, review], remote: true) do |f| %>
  <% if @player.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :content %>
   <h5><strong>Rating *</strong></h5>
   <%= f.input :rating, as: :hidden %>
   <i class="far fa-star js-star" id="star1" data-value="1"></i>
   <i class="far fa-star js-star" id="star2" data-value="2"></i>
   <i class="far fa-star js-star" id="star3" data-value="3"></i>
   <i class="far fa-star js-star" id="star4" data-value="4"></i>
   <i class="far fa-star js-star" id="star5" data-value="5"></i>
   <br>
  <%= f.submit "Add a review", class: "btn-white" %>
<% end %>
